<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OilWebTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="InitArticleStatus" value="Active"/>
    <add key="InitUserStatus" value="Active"/>
  </appSettings>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=.\sqlexpress;Initial Catalog=Oil;User ID = sa;Password= sa;Integrated Security=True"/>
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>

  <applicationSettings>
    <OilWebTest.Properties.Settings>
      <setting name="OilWebTest_localhost_WebService1" serializeAs="String">
        <value>http://localhost:7528/WebService1.asmx</value>
      </setting>
    </OilWebTest.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebService1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7528/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
        name="WebService1Soap" />
      <endpoint address="http://localhost:7528/WebService1.asmx" binding="customBinding"
        bindingConfiguration="WebService1Soap12" contract="ServiceReference1.WebService1Soap"
        name="WebService1Soap12" />
    </client>
  </system.serviceModel>
</configuration>
